.Post {
    position: absolute;
    width: 220px;
    margin-left: -110px;
    -webkit-transform-style: preserve-3d;
    background-color: white;
}
.Post:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -40px;
    width: 300px;
    height: 387px;
    background: url(shadow1.png);
    background-repeat: no-repeat;
    -webkit-transform: translateZ(-40px);
    opacity: .8;
}
.Post .photo {
    width: 220px;
    height: 165px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Post .user {
    position: relative;
    background: #e7e7e7;
    height: 52px;
}
.Post .user .avatar {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Post .user .name {
    position: absolute;
    left: 56px;
    top: 6px;
    width: 157px;
    color: #3b5998;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Post .user .date {
    position: absolute;
    left: 56px;
    top: 26px;
    color: #898f9c;
    font-size: 12px;
    line-height: 20px;
}
.Post .message-wrapper {
    height: 90px;
    padding: 10px 14px;
    overflow: hidden;
}
.Post .message {
    color: #444;
    font-size: 14px;
    line-height: 23px;
    overflow: hidden;
    height: 69px;
    text-overflow: ellipsis;
}
.Post[data-path-index="0"] {
  bottom: 15px;
}
.Post[data-path-index="1"] {
  top: 15px;
}
.Post.is-shown {
  /*opacity: 0;*/
}

.Post.is-link .photo {
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
}

.Post.is-link .photo:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 172px;
    width: 32px;
    bottom: 32px;
    background: url(safari_32x32.png);
    background-repeat: no-repeat;
    opacity: 1;
}

.Post.is-message .photo {
    background-size: 60%;
}

@media (max-width: 500px) and (orientation: portrait) {
  .Post {
      width: 184px;
      margin-left: -92px;
  }
  .Post:before {
    top: -87px;
    left: -62px;
    -webkit-transform: translateZ(-40px) scale(0.84, 0.6);
  }
  .Post .photo {
      width: 184px;
      height: 138px;
  }
  .Post[data-path-index="0"] {
    bottom: 5px;
  }
  .Post[data-path-index="1"] {
    top: 5px;
  }
  .Post .message-wrapper {
      height: 0px;
      padding: 0px;
      display: none;
  }
  .Post.is-link .photo:after {
      top: 8px;
      left: 146px;
  }

}

@media (max-height: 500px) and (orientation: landscape) {
    .Post {
        width: 184px;
        margin-left: -92px;
    }
    .Post:before {
      top: -87px;
      left: -62px;
      -webkit-transform: translateZ(-40px) scale(0.84, 0.6);
    }
    .Post .photo {
        width: 184px;
        height: 138px;
    }
    .Post[data-path-index="0"] {
      bottom: 5px;
    }
    .Post[data-path-index="1"] {
      top: 5px;
    }
    .Post .message-wrapper {
        height: 0px;
        padding: 0px;
        display: none;
    }
    .Post.is-link .photo:after {
        top: 8px;
        left: 146px;
    }
}

