.Detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.Detail-wrapper.montage-Overlay--visible {
  pointer-events: inherit;
}
.Detail-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  -moz-transition: -moz-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
  -moz-transform: translate3d(0px, 0px, 0px) scale(1);
  -ms-transform: translate3d(0px, 0px, 0px) scale(1);
  -o-transform: translate3d(0px, 0px, 0px) scale(1);
  transform: translate3d(0px, 0px, 0px) scale(1);
}
.Detail-overlay.is-booting {
    /* opacity: 0; */
}

.zoomedImageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
}
.zoomedImageWrapper.scroll {
    overflow: auto;
}
.zoomedImageWrapper.display {
    display: block;
}
.clippedZoomedImage {
    position: absolute;
    -webkit-transform-origin: 0 0 0;
    overflow: hidden;
}
.clip1 {
    overflow: hidden;
}
.clip2 {
    overflow: hidden;
}
.zoomedImage {
    position: absolute;
    background-size: cover;
}

.zoomedImageLarge {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.is-loaded .zoomedImageLarge {
    opacity: 1;
}

.Detail-wrapper .close,
.Detail-wrapper .close:active,
.Detail-wrapper .close:focus {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: none;
    margin: 0;
    pointer-events: auto;
    outline: 0;
    color: white;
    text-shadow: 0 0 8px black;
    z-index: 3;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.Detail-wrapper .description {
    position: absolute;
    bottom: 0px;
    height: 104px;
    background: white;
    z-index: 3;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.Detail-wrapper .Detail-avatar {
    position: absolute;
    margin: 20px 24px;
    width: 64px;
    height: 64px;
    background: url(http://www.romancortes.com/img/becky.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.Detail-wrapper.is-loaded .description,
.Detail-wrapper.is-loaded .Detail-avatar,
.Detail-wrapper.is-loaded .close {
    opacity: 1;
}
