@import "../../bourbon/bourbon";


.Detail {
    &-wrapper {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        @include perspective(800px);
        pointer-events: none;

        &.montage-Overlay--visible {
            pointer-events: inherit;
        }
    }
    &-overlay {
        position: absolute;
        top:20px;
        left:250px;
        right:250px;
        bottom:20px;
        @include transform-origin(center center);
        @include transform-style(preserve-3d);
        @include transition(transform .7s, top .7s, left .7s, right .7s, bottom .7s, ease-out );
        @include transform(translate3d(0px,0px,0px) rotateY(0deg) scale(1));
    }
    &-back {
        position: absolute;
        width: 180px;
        height: 10px;
        margin-left: -90px;
        @include backface-visibility(hidden);
    }
    &-front {
        position: absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background-color: hsla(0,0,100%,1);
    }
}
