@import "../../bourbon/bourbon";

.Feed  {
    position: absolute;
    top: 50%;
    margin-top: -500px;
    left: 0;
    right: 0;
    height: 1000px;

    &-flow {
        .montage-Flow-Repetition {
            opacity: 1;
            @include transition(opacity .5s);
        }
        &.is-hidden {
            .montage-Flow-Repetition {
                opacity: 0;
            }
        }
        .montage-Flow-Slot {
            @include transform-style(preserve-3d);
            pointer-events: none;
            // so that the slot has a main size for the flow inside
            width: 400%;
            height: 400%;
            left: -200%;
            top: -200%;
            @include transform(translate3d(0px, 0px, -1000px))
        }
    }
    &-friends {
        overflow: visible !important;
        @include perspective(none !important);
        @include transform-style(preserve-3d);

        >.montage-Flow-camera {
            @include transform(none !important);
        }
    }
}

.Feed.is-zoomedIn .Feed-friends {
    pointer-events: none;
}
