.Main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
.Main-content {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Main-details .details-fade-out {
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  transition: transform 0.35s;
  opacity: 0;
}
.Main-menuButton {
  color: #fff;
  position: relative;
  float: right;
}