@import "../../bourbon/_bourbon";

* {
    @include user-select(none);
    @include box-sizing(border-box);
    -webkit-user-drag: none;
}

body {
    background: #7c8ca4;
    overflow: hidden;
}

.main {
    visibility: hidden;
}

.montage-app-bootstrapping {
}

.montage-app-loading {
}

.montage-app-loaded {
    .main {
        visibility: visible;
    }
}
